<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your number: <%=my_number%></h1>
    <br>
    <p>From Fahrenheit to Celsius: <%=fahr_to_cels%> <span>&#176;</span>F</p>
    <br>
    <p>From Miles to Kilometers: <%=miles_to_km%> km</p>
    <br>
    <p>From Moles to Particles: <%=moles_to_particles%> particles</p>
    <br>
    <p>From Hours to Seconds: <%=hours_to_seconds%> seconds</p>
</body>
</html>